<form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" (submit)="login()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text" placeholder="Email"/>
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint align="end">Please provide a correct email address!</mat-hint>
      <mat-error align="end" *ngIf="form.email.errors?.required">This field is required!</mat-error>
      <mat-error align="end" *ngIf="form.email.errors?.pattern">Please provide a correct email address!</mat-error> 
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" placeholder="Password"/>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-hint align="end">Password must be 6/15 chars</mat-hint>
      <mat-error align="end" *ngIf="form.password.errors?.required">This field is required!</mat-error>
      <mat-error align="end" *ngIf="form.password.errors?.minlength">Password must be at least 6 chars!</mat-error>
      <mat-error align="end" *ngIf="form.password.errors?.maxlength">Password must be less than 16 chars!</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="loginForm.invalid" color="primary" type="submit">Login</button>
</form>
