
   <mat-toolbar color="primary">
        <div >
        <button mat-icon-button (click)="toggleSideNav()">
           <mat-icon>menu</mat-icon>
        </button>
       </div>
        <ul fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-end">
            <li>
               <a *ngIf="!authService.isAuthenticated()" routerLink="/register">Register</a>
            </li>
            <li>
             <a *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</a>
            </li>
            <li>
             <a *ngIf="authService.isAdmin()"  routerLink="/destination/create">Create</a>
            </li>
            <li>
               <a *ngIf="authService.isAuthenticated()" routerLink="/destination/all">All Destinations</a>
            </li>
            <li>
               <a *ngIf="authService.isAuthenticated()" (click)=logout()>Logout</a>
            </li>
        </ul>
     </mat-toolbar>