
   <mat-toolbar color="primary">
        <div >
        <button mat-icon-button (click)="toggleSideNav()">
           <mat-icon>menu</mat-icon>
        </button>
       </div>
        <ul fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-end">
            <li>
               <a routerLink="/register">Register</a>
            </li>
            <li>
             <a routerLink="/login">Login</a>
            </li>
            <li>
             <a routerLink="/destination/create">Create</a>
            </li>
            <li>
             <a routerLink="/destination/all">All Destinations</a>
            </li>
            <li>
               <button mat-button  (click)=logout()>Logout</button>
            </li>
        </ul>
     </mat-toolbar>