<mat-nav-list role="navigation">
    <div>
        <a mat-list-item routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </a>
        <a *ngIf="!authService.isAuthenticated()" mat-list-item routerLink="/register">
            <mat-icon>person</mat-icon>
            Register
        </a>
        <a *ngIf="!authService.isAuthenticated()" mat-list-item routerLink="/login">
            <mat-icon>account_box</mat-icon>
            Login
        </a>
        <a *ngIf="authService.isAdmin()" mat-list-item routerLink="/destination/create">
            <mat-icon>add_box</mat-icon>
            Create
        </a>
        <a *ngIf="authService.isAuthenticated()" mat-list-item routerLink="/destination/all">
                <mat-icon>place</mat-icon>
            All Destinations
        </a>
        <a *ngIf="authService.isAuthenticated()" mat-list-item (click)="logout()">
            <mat-icon>eject</mat-icon>
            Logout
        </a>
    </div>
    </mat-nav-list>
