<form [formGroup]="destinationCreateForm">
  <mat-form-field>
      <mat-label>Location</mat-label>
      <input formControlName="location" type="text" placeholder="Location"/>
      <mat-icon></mat-icon>
      <mat-hint></mat-hint>
  </mat-form-field> 
  <mat-form-field>
      <mat-label>Hotel</mat-label>
      <input formControlName="hotel" type="text" placeholder="Location"/>
      <mat-icon></mat-icon>
      <mat-hint></mat-hint>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Image</mat-label>
      <input formControlName="imageUrl" type="text" placeholder="Location"/>
      <mat-icon></mat-icon>
      <mat-hint></mat-hint>
  </mat-form-field>  
  <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" type="text" placeholder="Location"/>
      <mat-icon></mat-icon>
      <mat-hint></mat-hint>
  </mat-form-field> 
  <mat-form-field>
      <mat-label>Top Sight</mat-label>
      <input formControlName="topSights" type="text" placeholder="Location"/>
      <mat-icon></mat-icon>
      <mat-hint></mat-hint>
  </mat-form-field> 
</form>
